.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    background-color: #f9f9f9;
}

.card button {
    float: right;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.card button:hover {
    background-color: #ff2d00;
}